<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">

                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">

                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description">

                    <label for="" class="form-label">Category</label>
                    <input type="text" class="form-control" name="category">

                    <label for="">Image</label>
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">
                    <img src="/product-images/{{product._id}}.jpg" style="height: auto; width:50px" id="imgView">

<br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>