<section>
    <div class="container mt-5">
        <div class="row">
            <h2>Order items</h2><hr>
            {{#each product}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:30rem;">
                    <img src="/product-images/{{this.oneProduct._id}}.jpg" class="card-img-top" style="width: auto; height:200px;"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.oneProduct.name}}</h5>
                        <p class="card-text">Price:Rs.{{this.oneProduct.price}}</p>
                        <p class="card-text">Quantity:{{this.quantity}}</p>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>