<section>
    <div class="container">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6 xs-12">
                    <h2>Enter delevery details</h2><br>
                    <div>
                        <label for="">Address</label>
                        <input class="form-control" type="text" id="address" name="address">
                        <label for="">Pincode</label>
                        <input class="form-control" type="text" id="pincode" name="pincode">
                        <label for="">Mobile</label>
                        <input class="form-control" type="text" id="mobile" name="mobile">


                    </div>
                </div>
                <div class="col-md-6 xs-12">
                    <div class="container checkout">
                        <h3>Total amount:Rs.</h3>
                        <hr>
                        <div class="payment">
                            <p><b>Payment Method</b></p>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked>COD

                            </label><br>
                             <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online Payment
                                
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>